* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circulo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.c1 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgb(212, 18, 18);
}

.c2 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgb(230, 245, 22);
}

.c3 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgb(58, 196, 40);
}
