* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.circulo {
    width: 200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: rgb(26, 25, 25);
    border-radius: 50px;

}

.c1 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgb(212, 18, 18);
    box-shadow: 0 0 20px rgb(212, 18, 18);
}

.c2 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgb(230, 245, 22);
    box-shadow: 0 0 20px rgb(230, 245, 22);
}

.c3 {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgb(58, 196, 40);
    box-shadow: 0 0 20px rgb(58, 196, 40);

}
